.dashboard-main-content-header {
  width: 100%;
  background-color: yellowgreen;
  height: 100px;
  display: flex;
  align-items: center;
}
.burgerMenu {
  margin: 20px 30px;
  font-size: 30px;
  cursor: pointer;
}
.crossIcon {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  left: 160px;
  top: 15;
}
