.loginPage {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.loginLoadingSection{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.error{
  color:red;
  font-size: 0.8em;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 277px;
}
.login input {
  font-family: "Montserrat", sans-serif;

  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border: #eeeeee;
  background-color: #f4f4f4;
  padding: 12px 20px;
  margin: 10px auto;
  width: 100%;
  font-size: 1em;
  border-radius: 4px;
  color: #000;
}
.login input[type="submit"] {
  background-color: #1a7ef6;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 17px;
  padding: 9px 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header img {
  width: 50px;
}
.header h1 {
  margin: 0;
  font-size: 44px;
}
.header h3 {
  margin-top: 5px;
  font-weight: bold;
  color: #888888;
}
.checkboxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
}
.checkboxDiv input[type="checkbox"] {
  width: 20px;
}
label {
  width: 100%;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #888888;
}

@media screen and (max-width: 500px) {
  .loginPage {
    width: 100vw;
    height: 89vh;
  }
  .login {
    width: 87vw;
  }
  .login input {
    padding: 15px 20px;
    width: 87vw;
  }
  .login input[type="submit"] {
    background-color: #1a7ef6;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 13px 0px;
  }
  .checkboxDiv {
    width: 87vw;
  }
}
