.AssignTask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.AssignTask > div {
  background-color: #53e0bc;
  padding: 20px;
  width: 40vw;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
}
.AssignTask > div > input,
textarea {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.AssignTask > div > button {
  background-color: #3498db;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
}
.crossSign {
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
  color: red;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 5px red;
}

@media screen and (max-width: 700px) {
  .AssignTask {
    left: -6px;
  }
  .AssignTask > div {
    width: 80vw;
    margin: 0;
  }
  .crossSign {
    font-size: 35px;
  }
}
